# Choose shortcuts files based on OS type
- set_fact: 
    shortcuts_file: "{{ 'mac-shortcuts.tmux.conf' if os_type == 'Darwin' else 'linux-shortcuts.tmux.conf' }}"

- name: "Create tmux directories"
  file:
    path: "{{ user_home }}/{{ item.path }}"
    state: directory
  loop:
    - { path: '.config/tmux' }
    - { path: '.config/tmux/plugins/tpm' }


- name: "Install tmux plugin manager"
  ansible.builtin.git:
    repo: 'https://github.com/tmux-plugins/tpm'
    dest: "{{ user_home }}/.config/tmux/plugins/tpm"
    update: yes


- name: "Deploy tmux.conf"
  file:
    src: "{{ dotfiles_home }}/roles/tmux/files/tmux.conf"
    dest: "{{ user_home }}/.config/tmux/tmux.conf"
    state: "link"
    force: yes

